<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/noticias'>noticias</a></li>
        <li><a href='/reviews'>review</a></li>
        <li><a href='/retro'>retro</a></li>
        <li><a href='/shop'>shop</a></li>
    </nav>
    {{{body}}}
  </body>
</html>
